#root,
body {
  max-width: 550px;
  margin: 0 auto;
}
header {
  padding: 30px 25px;
  background-color: #21222a;
}
.nav {
  display: flex;
  align-items: center;
}
.nav > h3,
.nav > h4 {
  margin: 0;
}
.nav > h3 {
  margin-right: auto;
  color: #61dafb;
  font-size: 22px;
  font-weight: 700;
}
.nav > h4 {
  color: #deebf8;
  font-weight: 600;
}
.nav .logo {
  height: 30px;
  margin-right: 7px;
}

.container {
  padding: 57px 27px;
  background-image: url(./images/bg_react-logo.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;
  color: #ffffff;
}
.container > h1 {
  margin: 0 0 46px 0;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -0.05em;
}
.container ul {
  margin: 0 auto;
  max-width: 400px;
}
.container li {
  padding-block: 10px;
  line-height: 19px;
  font-size: 16px;
  font-weight: 400px;
}
.container li::marker {
  color: #61dafb;
  font-size: 1.4rem;
}
