#root,
body {
  max-width: 550px;
  margin: 0 auto;
}
header {
  padding: 30px 25px;
  background-color: #fff;
}

header.dark {
  background-color: #21222a;
}
.nav {
  display: flex;
  align-items: center;
}
.nav > div {
  display: flex;
  align-items: center;
}

.nav h4 {
  margin: 0;
  color: #00abca;
  font-size: 22.25px;
  font-weight: 700;
  letter-spacing: -0.05em;
  line-height: 27px;
}
.nav .logo {
  height: 30px;
  margin-right: 7px;
}

.nav .darkmode-btn {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.nav .darkmode-btn.light {
}
.nav .darkmode-btn p {
  font-size: 10px;
  font-weight: 600;
}
.nav .darkmode-btn p.light {
  color: #918e9b;
}
.nav .darkmode-btn p.dark {
  color: #918e9b;
}
.nav .darkmode-btn .toggle {
  margin: 0 5.5px;
  width: 24.55px;
  height: 13.09px;
  background-color: #2b283a;
  border-radius: 11.1898px;
}
.nav .darkmode-btn .toggle.dark {
  background-color: #f5f5f5;
}
.nav .darkmode-btn .toggle .marker {
  width: 11.45px;
  height: 11.45px;
  margin: 0.82px;
  background-color: #fff;
  border-radius: 50%;
  transform: translateX(0px);
  transition-duration: 1s;
}
.nav .darkmode-btn .toggle .marker.dark {
  background-color: #222222;
  transform: translateX(10px);
  transition-duration: 1s;
}

.container {
  padding: 57px 27px;
  background-image: url(./images/bg_react-logo.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;
  color: #ffffff;
}
.container > h1 {
  margin: 0 0 46px 0;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -0.05em;
}
.container ul {
  margin: 0 auto;
  max-width: 400px;
}
.container li {
  padding-block: 10px;
  line-height: 19px;
  font-size: 16px;
  font-weight: 400px;
}
.container li::marker {
  color: #61dafb;
  font-size: 1.4rem;
}
